main {
    max-width: 850px !important;
	margin: auto !important;
	float: none !important;
    margin-top: 100px !important;
    margin-bottom: 100px !important;
}

.srv-validation-message {
    color: #dc3545;
}